.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 80%;
  margin: 80px auto;
}

.contact-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  
}

.contact-section {
  display: flex;
  gap: 170px;
  width: 100%;
  
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%; 
  box-sizing: border-box;
}

.contact-left h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #136aa3;
}

.contact-left p {
  font-size: 1.2rem;
  font-weight: normal;
  color: #333;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #333;
  font-size: 1.2rem;
}
.contact-detail p a{
  color: #136aa3;
  font-size: 1.2rem;
  text-decoration: none;
}

.contact-detail {
  display: flex;
  gap: 20px;
  align-items: center;
}
.contact-detail p a{
  margin-left: 5px;
}
.contact-detail a{
  color: #333;
  font-size: 1.8rem;
  
  
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 30px;
  width: 50%;
  box-sizing: border-box; 
}

.contact-right label {
  font-size: 1.2rem;
  color: #136aa3;
  font-weight: 500;
}

.contact-right input,
.contact-right textarea {
  border: none;
  width: 650px;
  height: 60px;
  padding-left: 20px;
  border-radius: 4px;
  background: #e9e7e7;
  color: #333;
  font-size: 20px;
  font-family: poppins;
}
.contact-right textarea{
  height: 150px;
  resize: none;
  
}

.contact-submit {
  margin: 10px 0; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #136aa3;
  color: white;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.contact-submit:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.label-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.submission-message {
  font-size: 1.9rem;
}


@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    gap: 50px;
  }

  .contact-left,
  .contact-right {
    width: 100%; 
  }

  .contact-left h1 {
    font-size: 2rem;
  }

  .contact-left p {
    font-size: 1rem;
  }

  .contact-details {
    gap: 20px;
  }

  .contact-detail p {
    font-size: 1rem;
  }

  .contact-right input,
  .contact-right textarea {
    width: 100%; 
    font-size: 16px;
    padding-left: 15px;
  }

  .contact-submit {
    width: 100%;
    font-size: 16px;
  }

  .contact-title {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
     .contact-title{
      font-size: 1.25rem;
     }
     .contact-left,
  .contact-right {
    display: flex;
    align-items: center;
  }
  .contact-right input,
  .contact-right textarea {
    width: 600px;
    font-size: 14px;
  }
  .label-contact label {
    font-size: 1rem;
  }
  .contact-detail a{
    font-size: 1.5rem;
    margin-left: 20px;
  }
  .contact-right textarea::placeholder {
    font-size: 1rem; 
    padding-top: 10px;
    
  }

}

@media (max-width: 480px) {
  .contact {
    width: 100vh;
    padding: 0 20px;
  }
  .contact-detail a{
    font-size: 2.5rem;
    margin-left: 80px;
    margin-top: 10px;
  }
  
  .contact-left,
  .contact-right {
    display: flex;
    align-items: center;
  }
  .contact-left h1 {
    font-size: 2.5rem;
  }

  .contact-left p,
  .contact-detail p,
  .contact-detail p a{
    font-size: 1.9rem;
  }
  .contact-detail p a{
    margin-left: 10px;
  }

  .contact-right input,
  .contact-right textarea {
    width: 600px;
    font-size: 14px;
  }
  .label-contact label {
    font-size: 1.9rem;
  }

  
  .label-contact textarea::placeholder {
    font-size: 1.9rem; 
  }

  .contact-right input,
  .contact-right textarea {
    font-size: 1.9rem;
    padding-left: 15px;
  }
  .contact-submit {
    font-size: 1.9rem;
    width: 85%;
  }
}
